@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BROmega";
  src: url("../assets/BROmega/BROmega-Regular.woff2");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.max-width-1600 {
  max-width: 1600px;
}

.radialgrad {
  background-image: radial-gradient(circle at 85% 100%, #5cadffd9, #299cff);
}

.spreadedBG {
  gap: 8px;
  border-radius: 20px;
  padding: 2rem;
  width: 512px;
  background-color: #fff;
  box-shadow: 0 4px 50px 0 rgba(0, 111, 207, 1);
}

.markerBG {
  padding: 1rem 2rem;
  background-image: url(../assets//marker.png);
  background-repeat: no-repeat;
  background-position: center;
}

.guideGrid {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  gap: 32px;
  padding: 0 4rem;
}

.guideCardShadow {
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 20px 50px 0 rgba(189, 221, 248, 0.5);
}

.outlinedNumber {
  margin-right: 16px;
  font-family: "BROmega";
  display: inline;
  font-size: 72px;
  line-height: 36px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(41, 156, 255, 0.4);
}

.reasonGrid {
  width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  gap: 1.5rem;
}

.reasonCardShadow {
  box-shadow: 0 20px 50px 0 rgba(189, 221, 248, 0.5);
}

.testimonials {
  width: 100%;
  height: 700px;
  background-color: #299cff;
  background-image: url(../assets/backgroundLine.png);
}

.testimonialCard {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
}

.borderDesign {
  border: 1px solid #2591fe;
  border-radius: 70px 0px 100px 80px;
}

.secondBorderDesign {
  transform: translate(10px, -10px);
  border: 1px solid #2591fe;
  border-radius: 70px 0px 100px 80px;
  padding: 84px;
}

.offerSection {
  position: relative;
  width: 100%;
  padding: 128px;
  height: auto;
  background-color: #0089ff;
}

.whiteMarkerBG {
  background-image: url(../assets/whiteMarker.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
}

.randomBlob {
  position: absolute;
  top: 200px;
  left: 48px;
}

.cloud1 {
  position: absolute;
  top: 218px;
  left: 740px;
}
.cloud2 {
  position: absolute;
  top: 63px;
  left: 941px;
}
.cloud3 {
  position: absolute;
  top: 119px;
  left: 1262px;
}

.footerSection {
  background-color: #333333;
  color: #fff;
  padding: 96px 128px 0 128px;
}

.footerGrid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 40px;
}
