@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "BROmega";
  src: url("../assets/BROmega/BROmega-Regular.woff2");
}

@font-face {
  font-family: "Sansation";
  src: url("../assets/Sansation/Sansation_Regular.ttf");
}

.max-width-1600 {
  max-width: 1600px;
  margin: auto;
}

.headerNavbar {
  padding: 24px 96px;
}

.radialgrad {
  background-image: radial-gradient(circle at 85% 100%, #5cadffd9, #299cff);
}

.radialgrad h1 {
  font-size: 2.25rem;
  line-height: 2.75rem;
}

.radialgrad p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.spreadedBG {
  gap: 1rem;
  border-radius: 1.25rem;
  padding: 1.5rem;
  width: 28rem;
  background-color: #fff;
  box-shadow: 0 4px 50px 0 rgba(0, 111, 207, 1);
}

.markedHeading {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.markedHeading span {
  padding: 1rem 2rem;
}

.markerBG {
  padding: 1.25rem;
  background-image: url(../assets//marker.png);
  background-repeat: no-repeat;
  background-position: center;
}
.markerBG2 {
  padding: 1rem;
  background-image: url(../assets//marker.png);
  background-repeat: no-repeat;
  background-position: 43% 18%;
}

.guideGrid {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  gap: 1.5rem;
  padding: 0 6rem;
}

.guideCardShadow {
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 20px 50px 0 rgba(189, 221, 248, 0.5);
}

.outlinedNumber {
  margin-right: 16px;
  font-family: "BROmega";
  display: inline;
  font-size: 64px;
  line-height: 36px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(41, 156, 255, 0.4);
}

.reasonSection {
  background-color: #f9fcff;
  padding: 40px;
}

.reasonGrid {
  max-width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  gap: 1.5rem;
}

.reasonCardShadow {
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 20px 50px 0 rgba(189, 221, 248, 0.5);
}

.testimonials {
  padding: 0 0 128px 0;
  width: 100%;
  background-color: #299cff;
  background-image: url(../assets/backgroundLine.png);
}

.testimonialCard {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
}

.commitmentSection {
  padding: 80px 216px;
}

.borderDesign {
  border: 1px solid #2591fe;
  border-radius: 70px 0px 100px 80px;
}

.secondBorderDesign {
  transform: translate(10px, -10px);
  border: 1px solid #2591fe;
  border-radius: 70px 0px 100px 80px;
  padding: 40px 84px;
}

.offerSection {
  position: relative;
  width: 100%;
  padding: 128px;
  background-color: #0089ff;
}

.offerSection h1 {
  position: relative;
  padding: 16px 0;
  line-height: 54px;
  z-index: 50;
}
.whiteMarkerBG {
  background-image: url(../assets/whiteMarker.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10;
}

.blueMarkerBG {
  background-image: url(../assets/marker.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: -10;
}

.randomBlob {
  position: absolute;
  top: 30%;
  left: 3%;
}

.cloud1 {
  position: relative;
  top: 0;
  left: 55px;
}

.backcloud1 {
  position: absolute;
  top: 40%;
  right: 35%;
  width: 204px;
  height: 134px;
  background-image: url(../assets/backcloud1.svg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-blend-mode: color-burn;
  background-color: #0089ff;
}

.cloud2 {
  position: relative;
  top: 0;
  left: 48px;
}

.backcloud2 {
  position: absolute;
  top: 10%;
  right: 25%;
  width: 195px;
  height: 126px;
  background-image: url(../assets/backcloud2.svg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-blend-mode: color-burn;
  background-color: #0089ff;
}

.cloud3 {
  position: relative;
  top: 0;
  left: 55px;
}

.backcloud3 {
  position: absolute;
  top: 30%;
  right: 5%;
  width: 205px;
  height: 151px;
  background-image: url(../assets/backcloud3.svg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-blend-mode: color-burn;
  background-color: #0089ff;
}

.footerSection {
  width: 100%;
  background-color: #333333;
  color: #fff;
  padding: 96px 128px 0 128px;
}

.footerGrid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 40px;
}

/* details page  */
#detailsForm {
  position: relative;
  background-image: radial-gradient(circle at 85% 100%, #5cadffd9, #299cff);
  border: 0;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

#leftSideForm {
  padding: 0 2.5rem;
  border-radius: 10px;
}

.custom-shape-divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 80px;
}

.custom-shape-divider-bottom .shape-fill {
  fill: #fff;
}

.formGrid {
  padding: 32px 64px 80px 64px;
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 16px;
}

#rightSideDetails {
  padding: 0 2.5rem;
  border-radius: 10px;
}

/* Customize the label (the checkBoxContainer) */
.checkBoxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkBoxContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #bdbdbd;
}

/* On mouse-over, add a grey background color */
.checkBoxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkBoxContainer input:checked ~ .checkmark {
  background-color: #2591fe;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkBoxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkBoxContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* date picker calender customization  */
.datepicker-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 8px;
  border: 1px solid #2591fe;
  border-radius: 6px;
}

.datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.time {
  position: relative;
  width: 84px;
  padding: 8px;
  border: 1px solid #2591fe;
  border-radius: 6px;
}

.time select {
  -webkit-appearance: none;
  appearance: none;
}

.arrow {
  position: absolute;
  top: 15px;
  right: 10px;
}

.carinfogrid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 8px;
}

.carInfo {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  background-color: #3097ff;
  padding: 8px;
  color: #fff;
  margin: 16px 0;
}

.addtionalcarinfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.addtionalcarinfo p {
  color: #fff;
  font-size: 18px;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}

.addtionalcarinfo p:nth-child(2n + 1) {
  background-image: radial-gradient(circle at 85% 100%, #5cadffd9, #299cff);
}

.addtionalcarinfo p:nth-child(2n) {
  background-color: #0070d1;
}

.messageContainer {
  width: 100%;
  padding: 16px;
  margin: 40px auto;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* submission page styles  */
.submissionHeader {
  padding: 80px 0;
  background-color: #299cff;
  color: #fff;
  border-radius: 30px;
}

.thanksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 16px;
  background-color: #168aff;
  border: 1px solid #f2f2f2;
  border-radius: 60px 0 60px 60px; */
}

.thanksImgContainer {
  z-index: 10;
  width: 300px;
  height: 300px;
  background-color: #dbefff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 32px;
}
.thanksImg {
  border-radius: 50%;
  background-color: #bce0ff;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thankYouNote {
  width: 65%;
  position: relative;
  top: 0;
  left: -100px;
  padding: 64px 20px 64px 200px;
  background-color: #168aff;
  border: 2px solid #f2f2f2;
  border-radius: 60px 0 60px 60px;
}
.thankYouNote h1 {
  font-size: 32px;
  font-family: "BROmega";
  font-weight: 700;
  margin: 24px 0;
}
.thankYouNote p {
  font-size: 16px;
  font-family: "BROmega";
}
.guideGrid2 {
  padding: 16px 64px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 32%);
  gap: 16px;
}
.finalMessage {
  width: 100%;
  padding: 40px 8px;
  background-color: #299cff;
  background-image: url(../assets/backgroundLine.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerFinalMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.redoButton {
  cursor: pointer;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #299cff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* modal css styles */
.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 250px;
  height: 170px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #fff;
  background: #d03d33;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #2591fe;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: #2591fe;
}

/* animation effects */
.rightangle {
  animation-name: moveAngle;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes moveAngle {
  to {
    transform: translateX(30px);
  }
}

/* responisveness is applying to the site with media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .radialgrad h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }

  .radialgrad p {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .headerNavbar {
    padding: 24px 8px;
  }
  .spreadedBG {
    max-width: 512px;
    width: 100%;
  }

  .guideGrid {
    grid-template-columns: 100%;
    gap: 8px;
    padding: 0 8px;
  }

  .reasonSection {
    padding: 40px 8px;
  }

  .reasonGrid {
    grid-template-columns: 100%;
  }

  .markedHeading {
    padding: 1rem 2rem;
  }

  .markerBG {
    padding: 1rem;
    background-image: url(../assets//marker.png);
    background-repeat: no-repeat;
    background-position: 75% 18%;
  }

  .markerBG2 {
    padding: 1rem;
    background-image: url(../assets//marker.png);
    background-repeat: no-repeat;
    background-position: 70% 18%;
  }

  .testimonialCard {
    flex-direction: column;
  }

  .testimonialCard {
    padding: 1rem;
  }

  .secondBorderDesign {
    padding: 20px;
  }
  .secondBorderDesign h1 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .randomBlob,
  .backcloud1,
  .backcloud2,
  .backcloud3 {
    display: none;
  }

  .offerSection {
    padding: 8px;
  }
  .commitmentSection {
    padding: 80px 8px;
  }
  .footerSection {
    padding: 40px 16px;
  }

  .footerGrid {
    grid-template-columns: 100%;
    gap: 16px;
  }

  /* details page responsive  */
  .formGrid {
    grid-template-columns: 100%;
    padding: 72px 8px;
  }
  #rightSideDetails {
    order: 0;
  }
  #leftSideForm {
    order: 1;
  }
  /* submission page responsive  */
  .thanksContainer {
    flex-direction: column;
  }
  .thanksImgContainer {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
  }
  .thanksImg {
    width: 200px;
    height: 200px;
  }
  .thankYouNote {
    width: 90%;
    position: relative;
    top: -200px;
    left: 0;
    padding: 200px 48px 48px 48px;
    text-align: center;
  }
  .guideGrid2 {
    grid-template-columns: 100%;
    gap: 16px;
    padding: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .headerNavbar {
    padding: 24px 8px;
  }

  .guideGrid {
    grid-template-columns: 100%;
    gap: 8px;
    padding: 0 8px;
  }

  .reasonSection {
    padding: 40px 8px;
  }

  .reasonGrid {
    grid-template-columns: 100%;
  }

  .markerBG {
    padding: 1rem;
    background-image: url(../assets//marker.png);
    background-repeat: no-repeat;
    background-position: 59% 18%;
  }

  .markerBG2 {
    padding: 1rem;
    background-image: url(../assets//marker.png);
    background-repeat: no-repeat;
    background-position: 35% 18%;
  }

  .testimonialCard {
    flex-direction: column;
  }

  .testimonialCard {
    padding: 1rem;
  }

  .secondBorderDesign {
    padding: 20px;
  }

  .randomBlob,
  .cloud1,
  .cloud2,
  .cloud3 {
    display: none;
  }

  .offerSection {
    padding: 8px;
  }
  .commitmentSection {
    padding: 80px 20px;
  }
  .footerSection {
    padding: 40px 16px;
  }
  .footerGrid {
    grid-template-columns: 100%;
    gap: 16px;
  }

  /* details page  */
  .carinfogrid {
    grid-template-columns: 100%;
    gap: 0;
  }

  .formGrid {
    padding: 2rem 1rem 5rem 1rem;
  }

  #leftSideForm {
    padding: 0 1rem;
  }

  #rightSideDetails {
    padding: 0 1rem;
  }

  /* submission page responsive  */
  .thanksContainer {
    flex-direction: column;
  }
  .thanksImgContainer {
    position: relative;
    top: 0;
    left: 0;
  }
  .thankYouNote {
    width: 60%;
    position: relative;
    top: -200px;
    left: 0;
    padding: 200px 48px 48px 48px;
    text-align: center;
  }
  .guideGrid2 {
    grid-template-columns: 100%;
    gap: 32px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .headerNavbar {
    padding: 24px 8px;
  }

  .guideGrid {
    grid-template-columns: 49% 49%;
    gap: 8px;
    padding: 0 8px;
  }

  .reasonSection {
    padding: 40px 8px;
  }

  .reasonGrid {
    grid-template-columns: 49% 49%;
  }

  .markerBG {
    padding: 1rem;
    background-image: url(../assets//marker.png);
    background-repeat: no-repeat;
    background-position: 59% 18%;
  }

  .markerBG2 {
    padding: 1rem;
    background-image: url(../assets//marker.png);
    background-repeat: no-repeat;
    background-position: 35% 18%;
  }

  .testimonialCard {
    flex-direction: column;
  }

  .testimonialCard {
    padding: 1rem;
  }

  .secondBorderDesign {
    padding: 20px;
  }

  .commitmentSection {
    padding: 80px 54px;
  }

  .footerSection {
    padding: 40px 16px;
  }
  .footerGrid {
    grid-template-columns: 49% 49%;
    gap: 16px;
  }

  /* details page  */
  .formGrid {
    padding: 2rem 1rem 5rem 1rem;
  }

  #leftSideForm {
    padding: 0 1rem;
  }

  #rightSideDetails {
    padding: 0 1rem;
  }

  /* submission page responsive  */
  .thanksContainer {
    flex-direction: column;
  }
  .thanksImgContainer {
    position: relative;
    top: 0;
    left: 0;
  }
  .thankYouNote {
    width: 60%;
    position: relative;
    top: -200px;
    left: 0;
    padding: 200px 48px 48px 48px;
    text-align: center;
  }
  .guideGrid2 {
    grid-template-columns: 49% 49%;
    gap: 32px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .headerNavbar {
    padding: 24px 8px;
  }

  .guideGrid {
    grid-template-columns: 32% 32% 32%;
    gap: 8px;
    padding: 0 8px;
  }

  .reasonSection {
    padding: 40px 8px;
  }

  .reasonGrid {
    grid-template-columns: 32% 32% 32%;
  }

  .markerBG {
    padding: 1rem;
    background-image: url(../assets//marker.png);
    background-repeat: no-repeat;
    background-position: 59% 18%;
  }

  .markerBG2 {
    padding: 1rem;
    background-image: url(../assets//marker.png);
    background-repeat: no-repeat;
    background-position: 35% 18%;
  }

  .testimonialCard {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .testimonialCard {
    padding: 1rem;
  }

  .secondBorderDesign {
    padding: 20px;
  }

  .commitmentSection {
    padding: 80px 108px;
  }

  .footerSection {
    padding: 80px 16px;
  }
  .footerGrid {
    grid-template-columns: 49% 49%;
    gap: 16px;
  }
  /* submission page responsive  */
  .thanksContainer {
    flex-direction: column;
  }
  .thanksImgContainer {
    position: relative;
    top: 0;
    left: 0;
  }
  .thankYouNote {
    width: 60%;
    position: relative;
    top: -200px;
    left: 0;
    padding: 200px 48px 48px 48px;
    text-align: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
